#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  background-color: #e7f6e3ff;
}
body{
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
